<%= @sender.firstName %> has invited you to join
his league <%= @league.name %> @ Jogamas!
===============================================
 
To register to the site, just follow this link: <%= @url %> and start playing!.