Welcome to example.com, <%= @user.firstName %>
===============================================

<%= @user.firstName %>, We received a request to reset the password for your jogamas account

To reset your password, click on the link below (or copy and paste the URL into your browser): <%= @url %>