<h1><%= @user.firstName %>, We received a request to reset the password for your jogamas account</h1>

<p>
  To reset your password, click on the link below (or copy and paste the URL into your browser): <%= @url %>
</p>
ﬁ