    <h1><%= @sender.firstName %> has invited you join his league <%= @league.name %> @ jogamas.com!</h1>
    <p>
      To register to the site, just follow this link: <%= @url %> and start playing!
    </p>
