<h1>Welcome to example.com, <%= @user.firstName %></h1>
<p>
  You have successfully signed up to jogamas.com,
  your username is: <%= @user.username %>.<br/>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
