Welcome to example.com, <%= @user.firstName %>
===============================================
 
You have successfully signed up to jogamas.com,
your username is: <%= @user.username %>.
 
To login to the site, just follow this link: <%= @url %>.
 
Thanks for joining and have a great day!