<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<header>
    <h1>Joga+ Example Email -- Brand</h1>
</header>

<%= yield %>

<footer>
    <h4>See you on the pitch!</h4>
    <p>You are receiving this because you are subscribed to Joga+ and you love soccer.</p>
    <a href="mailto:hello@wewantedtobeastronauts.com">hello@wewantedtobeastronauts.com</a>
</footer>
</body>
</html>